body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.main {
    text-align: center;
    min-height: 200vb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    background-color: #1F2937;
    color: white;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

li {
    list-style-type: none;
    color: #cccfd1;
    font-size: 18px;
}

.window {
    min-height: 100vb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.footer {
    background: radial-gradient(#314158, #1F2937);
    color: white;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footertext {
    color: #cccfd1;
}